# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [54]:
my_num = 23

print(my_num)

type(my_num)

print(25)

23
25

##### Assinging float

In [55]:
my_float = 10.5

print(my_float)

type(my_float)

elephant= 10.0

type(elephant)

10.5

float

#### Performing Calculations on ints and floats

##### Addition

In [56]:
5 + 5
print(my_num)
my_num + 10
print(my_num)
my_num

.5 + .5

my_float + my_num

23
23

33.5

In [57]:
# long hand
my_num = my_num + 10

print(my_num)

33

In [58]:
# short hand
my_num +=5

print(my_num)

38

##### Subtraction

In [59]:
10-5

10.5 - .5

15-.5

my_num - 3

my_float - 10

0.5

##### Multiplication

In [18]:
10*2

my_num*10

my_float*5

.5*10

5.0

In [63]:
# long hand
new_float = 10.5

new_float = 10* new_float

print(new_float)

105.0

In [61]:
new_int = 10
# short hand
new_int *= 5

print(new_int)

50

##### Division

In [22]:
# returns a float
25/5

10.5/2

my_float/2

5.25

##### Floor Division

In [26]:
my_float//2

11//2

11.0//2

11//2

5

##### Modulo

In [30]:
11%2

24%5

10%2

11%2

1

##### Exponential

In [33]:
10**2
10**10

my_num**3

12167

### String Input-Output

##### String Assignment

In [64]:
my_string = "hello world"

print(type(my_string))

print(my_string)

<class 'str'>
hello world

##### print() <br>
<p>Don't forget about end=' '</p>

In [72]:
print(my_string, end= " ")
#default \n newline
print("padawans rock", end = "\n")

print("Instructor ", end="Brandt ")
print("and Dylan")

hello world padawans rock
Instructor Brandt and Dylan

##### String Concatenation

In [79]:
class_string = "Padawans 136"

concat_string = "Future Developers" + " " + class_string

print(concat_string)

instructor_one = "brandt"
instructor_two = "dylan"

instructors = instructor_one + " " + instructor_two

print(instructors)

Future Developers Padawans 136
brandt dylan

##### Type Conversion

In [153]:
type(my_num)

str(my_num)

my_num = str(my_num)
type(my_num)
# type error
# my_num +10

str(55)

type(int("55"))

str_num = "23"
print(type(str_num))

int(str_num)

print(type(str_num))

num = int(str_num)

print(type(num))

<class 'str'>
<class 'str'>
<class 'int'>

##### input()

In [ ]:
my_age = input("What is your age: ")
print(my_age, type(my_age))

my_age = int(my_age) + 1

##### format()

In [114]:
instructor_two = "dylan"

"{} You are {} year's old" .format(instructor_two, 33)

f"{instructor_two} you are {33} year's old"

"dylan you are 33 year's old"

##### Old Way (python 2)

In [ ]:
"My name is %s" %instructor_two

"My age %d and name is %s" % (int(my_age), instructor_two)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [116]:
color = input("color: ")
year = input("year: ")
make = input("make: ")
model= input("model: ")

color: Red
year: 2009
make: Chevy
model: Cobalt

### If Statements

In [134]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 10> 11:
    print("10 greater than 11")
    
if 11>10:
        print("11 > 10")
        
if True:
    print("true")
    print("action two")
    print("still in if")
    
if 0:
    print("zero")

if 1:
    print(1,"true")

if 10>11 and 9==9:
    print("both true")
    
if 10>11 and 9==9:
    print("either true using or")

if 10<11 and 9==9:
    print("both true 10<11 and 9==9")
    
if 10>11 or 9 !=9:
    print("either true using or 2")

11 > 10
true
action two
still in if
1 true
both true 10<11 and 9==9

##### 'is' keyword

In [140]:
# if 9 is 9:
#    print ("is true")

my_dict = {"foo":"bar"}
my_dict_copy = {"foo":"bar"}
actual_copy = my_dict

if my_dict is my_dict_copy:
    print("copies")

if my_dict is actual_copy:
    print("actual copies")
    print(actual_copy)

actual copies
{'foo': 'bar'}

##### 'in' keyword

In [137]:
print(instructors)

print("b" in instructors)

print("brandt" in instructors)

print("Brandt" in instructors)

print("d" in instructors)

if "brandt" in instructors:
    print("this will be a strong class")

brandt dylan
True
True
False
True
this will be a strong class

##### 'not in' keyword'

In [138]:
if "D" not in "dylan":
    print("case sensitive")

case sensitive

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [146]:
name = input("name: ")
print("p" in name)

name: phil
True

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [164]:
if "ryan" in instructors:
    print("ranger")
elif "brian" in instructors:
    print("kekambas")
elif "dylan" in instructors:
    print("padawans")
elif "brandt" in instructors:
    print("also padawans")
else:
    print("Maybe not in CT")

padawans

### Else Statements

In [ ]:
# see above

### For Loops

In [152]:
print(instructors)

for e in instructors:
    print(e)
    print("hello world")

brandt dylan
b
hello world
r
hello world
a
hello world
n
hello world
d
hello world
t
hello world

hello world
d
hello world
y
hello world
l
hello world
a
hello world
n
hello world

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [157]:
for e in instructors:
    if e == "t":
        continue
    print(e)

b
r
a
n
d

d
y
l
a
n

##### Break Statement

In [ ]:
# will break out of current loop

In [158]:
for e in instructors:
    if e == "t":
       break
    print(e)

b
r
a
n
d

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [159]:
for e in instructors:
    if e == "t":
       pass
    print(e)

b
r
a
n
d
t

d
y
l
a
n

##### Double For Loops

In [168]:
step = 1
for letter in "dylan":
    for letter_two in "dylan":
        print(f"{letter = } {letter_two =}")
        print(step)
        step += 1

letter = 'd' letter_two ='d'
1
letter = 'd' letter_two ='y'
2
letter = 'd' letter_two ='l'
3
letter = 'd' letter_two ='a'
4
letter = 'd' letter_two ='n'
5
letter = 'y' letter_two ='d'
6
letter = 'y' letter_two ='y'
7
letter = 'y' letter_two ='l'
8
letter = 'y' letter_two ='a'
9
letter = 'y' letter_two ='n'
10
letter = 'l' letter_two ='d'
11
letter = 'l' letter_two ='y'
12
letter = 'l' letter_two ='l'
13
letter = 'l' letter_two ='a'
14
letter = 'l' letter_two ='n'
15
letter = 'a' letter_two ='d'
16
letter = 'a' letter_two ='y'
17
letter = 'a' letter_two ='l'
18
letter = 'a' letter_two ='a'
19
letter = 'a' letter_two ='n'
20
letter = 'n' letter_two ='d'
21
letter = 'n' letter_two ='y'
22
letter = 'n' letter_two ='l'
23
letter = 'n' letter_two ='a'
24
letter = 'n' letter_two ='n'
25

### While Loops

In [170]:
num = 0
while num < 10:
    print(num)
    num += 1
print(num, "loop is done")

0
1
2
3
4
5
6
7
8
9
10 loop is done

##### Looping 'While True'

In [174]:
num = 0
while True:
    print(True, "be careful")
    num += 1
    if num ==15:
        break

True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful
True be careful

In [175]:
flag = True
num = 0
while flag:
    num += 1
    if num == 15:
        flag = False

##### While & For Loops Used Together

In [178]:
num = 0
while num < 10:
    for letter in "brandt":
        print(f"{num =}{letter =}")
    num += 1

num =0letter ='b'
num =0letter ='r'
num =0letter ='a'
num =0letter ='n'
num =0letter ='d'
num =0letter ='t'
num =1letter ='b'
num =1letter ='r'
num =1letter ='a'
num =1letter ='n'
num =1letter ='d'
num =1letter ='t'
num =2letter ='b'
num =2letter ='r'
num =2letter ='a'
num =2letter ='n'
num =2letter ='d'
num =2letter ='t'
num =3letter ='b'
num =3letter ='r'
num =3letter ='a'
num =3letter ='n'
num =3letter ='d'
num =3letter ='t'
num =4letter ='b'
num =4letter ='r'
num =4letter ='a'
num =4letter ='n'
num =4letter ='d'
num =4letter ='t'
num =5letter ='b'
num =5letter ='r'
num =5letter ='a'
num =5letter ='n'
num =5letter ='d'
num =5letter ='t'
num =6letter ='b'
num =6letter ='r'
num =6letter ='a'
num =6letter ='n'
num =6letter ='d'
num =6letter ='t'
num =7letter ='b'
num =7letter ='r'
num =7letter ='a'
num =7letter ='n'
num =7letter ='d'
num =7letter ='t'
num =8letter ='b'
num =8letter ='r'
num =8letter ='a'
num =8letter ='n'
num =8letter ='d'
num =8letter ='t'
num =9letter ='b'
num =9letter ='r'
num =9letter ='a'
num =9letter ='n'
num =9letter ='d'
num =9letter ='t'

### Built-In Functions

##### range()

In [184]:
# range(start, stop, step)

#for num in range(0,10,1):
 #   print(num)
    
for even in range(2,10,2):
        print(even)

2
4
6
8

##### len()

In [193]:
#print(len("dylan"))

#list(range(5))
ins = "dylan"
for i in range(len("dylan")):
    print(i, end =" ")
    print(ins[i])

0 d
1 y
2 l
3 a
4 n

##### help()

##### isinstance()

In [195]:
print(isinstance(ins, str))
print(isinstance(ins, int))
print(isinstance(10, int))

True
False
True

##### abs()

In [196]:
abs(-5)

5

### Try and Except

### Lists

##### Declaring Lists

In [197]:
alist =  []
type(alist)

num_list = [1,2,3,4,29]

print(num_list)

[1, 2, 3, 4, 29]

##### Indexing a List

In [198]:
num_list[0]
num_list[-1]
num_list[len(num_list)-1]

num_list[2]

3

##### .append()

In [210]:
num_list.append(10)

print(num_list)

[1, 2, 3, 4, 29, 100, 100, 100, 10]

##### .insert()

In [205]:
num_list.insert(1,10)
print(num_list)

[1, 10, 10, 100, 2, 3, 4, 29, 100, 100, 100]

##### .pop()

In [212]:
# num_list.pop()

print(num_list)

ten= num_list.pop(1)
print(num_list)
print(ten)

[1, 3, 4, 29, 100, 100, 100, 10]
[1, 4, 29, 100, 100, 100, 10]
3


##### .remove()

In [213]:
print(num_list)
num_list.remove(29)
print(num_list)

[1, 4, 29, 100, 100, 100, 10]
[1, 4, 100, 100, 100, 10]

##### del()

##### Concatenating Two Lists

In [215]:
num_list + [1,23]

[1, 4, 100, 100, 100, 10, 1, 23]

##### Lists Within Lists

In [216]:
[1,12,3,[1,2,3]]

[1, 12, 3, [1, 2, 3]]

##### Looping Through Lists

In [217]:
for num in [1,23,4]:
    print(num)

1
23
4

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [220]:
num = 1

while True:
    cube = num ** 3
    if cube > 1000:
        break
    print(cube)
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    else:
        return True

def get_primes_up_to(limit):
    primes = [num for num in range(2, limit) if is_prime(num)]
    return primes
  
prime_numbers = get_primes_up_to(100)

print("Prime numbers up to", 100, ":", prime_numbers)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("What is your age: "))

if age < 18:
    print("Your a kid!")
elif 18 <= age <= 65:
    print("Your an adult!")
else:
    print("Your a senior!")

What is your age: 5
Your a kid!